<!-- Background Gradient -->
<div class="background-container">
    <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div>
</div>
<div class="grain"></div>

<!-- Custom Cursor -->
<div class="cursor" id="cursor"></div>

<!-- Navigation Bar -->
<nav class="fixed top-5 left-1/2 transform -translate-x-1/2 w-11/12 max-w-4xl 
bg-white/10 backdrop-blur-md rounded-full px-8 py-2 flex justify-between items-center 
shadow-lg border border-white/20 z-50">
    
    <h1 class="text-3xl text-white font-bold"><a href="index.html">A.P</a></h1>
    
    <ul class="flex gap-6 text-lg">
        <li><a href="index.html" class="text-5lg text-white hover:text-gray-300 transition">Home</a></li>
        <li><a href="projects.html" class="text-5lg text-white hover:text-gray-300 transition">Projects</a></li>
        <li><a href="about.html" class="text-5lg text-white hover:text-gray-300 transition">About</a></li>
        <li><a href="contact.html" class="text-5lg text-white hover:text-gray-300 transition">Contact</a></li>
    </ul>
</nav>

